<br>
<div class="container  card " style=" height:fit-content; "  >
<div class="row">
    <div class="left col-md-3" >
        <h5>Chevron</h5>
        <p style="font-size:10px">on DELFI since Oct, 2021</p>
        <img src="" style=" width:200px; height:100px">
    </div>
    
    <div class="right col-md-7" style="font-size:small">
        <div class="upper right row-" style=" display:flex; ">
            
            <div>
                <p><strong>Reported Month</strong></p>
                <p>April, 2022</p>
            </div>
                
          <div style="padding-left: 20px; ">
            <p><strong>Last Updated</strong>
                <p>Today, 8:15pm</p>
          </div>

        </div>
        <div class="lower right">
            <p><strong>Vincent's Recommendations</strong></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</div>
</div>
    

